@font-face {
    font-family: 'igotmarkers';
    src: url('font/igotmarkers-webfont.woff2') format('woff2'),
         url('font/igotmarkers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}